.advantages {
	min-width: 1200px;
	&__title {
		color: $dark_shades;
		padding-top: 138px;
		margin-bottom: 13px;
	}
	&__text {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: $dark_shades;
		margin-bottom: 7px;
	}
	&__item {
		text-align: center;
		img {
			margin-bottom: 29px;
			margin-top: 50px;
			max-width: 600px;
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat (2, 1fr);
		justify-content: space-evenly;
		padding-top: 32px;
	}
}
