.thin, .medium, .big {
	color: $dark_shades;
}

.thin {
	font-size: 20px;
	line-height: 30px;
	font-weight: 200;
}

.medium {
	font-size: 32px;
	line-height: 46px;
	font-weight: 400;
}

.big {
	font-size: 40px;
	line-height: 52px;
	font-weight: 600;
}

.gray {
	color: $dark_accent;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 52px;
}

.menu {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__item {
		font-size: 16px;
		line-height: 17px;
		font-weight: 400;
		letter-spacing: 0.04em;
		color: $dark_accent;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 43px;
		cursor: pointer;
		&:last-child {
			margin-right: 40px;
		}
		img {
			width: 90px;
		}
		a {
			color: $dark_accent;
			text-decoration: none;
		}
	}
	&__burger {
		display: none;
	}
	&__mobile {
		display: none;
	}
}

.current a {
	color: $dark_shades;
	font-weight: 600;
	text-decoration: none;
}
.logo {
	margin-right: 59px;
	margin-left: 0;
}

.header {
	&__content {
		text-align: center;
		margin-top: 90px;
	}
	&__title {
		font-size: 44px;
		line-height: 41px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: $dark_shades;
		margin: 207px auto 4px;
	}
	&__text {
		font-size: 18px;
		line-height: 17px;
		font-weight: 300;
		letter-spacing: 0.03em;
		color: $dark_accent;
		margin: 10px auto 43px;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Gilroy';
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.04em;
		width: 188px;
		height: 57px;
		background-color: $light_accent;
		border-radius: 8px;
		margin: 0 auto 206px;
		border: none;
		a {
			text-decoration: none;
			color: $light_shades;
			text-transform: uppercase;
		}
	
	}
}

.subheader {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 120px;
	&__item {
		width: 260px;
		height: 260px;
		border: 4px solid $light_accent;
		border-radius: 40px;
		padding: 10px;
	}
	&__text {
		text-align: center;
		font-size: 32px;
		font-weight: 200;
		text-transform: uppercase;
		color: $dark_shades;
		margin-bottom: 60px;
	}
}

#toTop {
	position: fixed;
	right: 155px;
	bottom: 40px;
	z-index: 10;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 50px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	svg {
		fill: #CAC25F;
		path {
			stroke: #3E3E4A;
		}
	}
	&:hover {
		svg {
			fill: #3E3E4A;
			path {
				stroke: #CAC25F;
			}
		}
	transform: scale(1.25);
	transition: all .3s ease-in-out;
	}
}

#toTop.show {
	opacity: 1;
	visibility: visible;
	transition: all .7s ease-in-out;
}

