/*iPad*/

@media screen and (max-width: 769px) {
	body .container {
		width: 768px;
	}

/*header*/
	.menu {
		&__item {
			font-size: 14px;
			line-height: 17px;
			margin-right: 20px;
			&:first-child {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 10px;
			}
			img {
				width: 70px;
				padding-right: 0;
			}
		}
	}

	.header {
		&__title {
		font-size: 36px;
		line-height: 41px;
		color: $dark_shades;
		margin: 167px auto 4px;
		}
		&__button {
			margin: 0 auto 156px;
		}
	}

/*services*/
	.services {
		&__inner {
			grid-gap: 30px;
			grid-template-columns: max-content;
			padding-bottom: 70px;
		}
		&__title {
			padding-top: 97px;
			margin-bottom: 70px;
		}
		&-bottom {
			background-position: center 108%;
		}
	}
/*advantages*/

	.advantages {
		&__title {
			padding-top: 98px;
		}
		&__inner {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat (3, 1fr);
			padding-top: 32px;
		}
		&__text {
			font-size: 18px;
		}
	}

/*about*/
	.about {
		&__title {
			margin-top: 68px;
			margin-bottom: 76px;
		}
		&__item {
			img {
				position: relative;
				max-width: 220px;
				top: 5px;
				left: 5px;
				padding-left: 10px;
				margin-right: 50px;
			}
		}
		&__circle {
			display: none;
		}
		&__text {
			font-size: 16px;
			line-height: 20px;
			width: 60%;
			padding: 0 10px;
		}
		&__inner {
			padding-bottom: 85px;
		}
	}

/*contacts*/

	.contacts {
		&__inner {
			padding: 0 20px;
		}
		&__icon-box {
			padding-top: 32px;
		}
		&__form {
			max-width: 700px;
			margin-top: 83px;
		}
		&__textarea {
			height: 120px;
		}
		&__button {
			margin-bottom: 80px;
		}
	}
}


/*iPhone SE*/
@media screen and (max-width: 376px) {
	body .container {
		width: 375px;
	}

	/*header*/

	.menu__desktop {
		display: none;
	}

	.menu__mobile {
		display: flex;
	}

	.menu {
		&__burger {
			width: 40px;
			height: 3px;
			background-color: #CAC25F;
		}
	}
}