
/*iPad*/

@media screen and (max-width: 769px) {
	body .container {
		width: 768px;
	}

/*header*/
	.menu {
		&__item {
			font-size: 14px;
			line-height: 17px;
			margin-right: 20px;
			&:first-child {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 10px;
			}
			img {
				width: 70px;
				padding-right: 0;
			}
		}
	}

	.header {
		&__title {
		font-size: 36px;
		line-height: 41px;
		color: $dark_shades;
		margin: 167px auto 4px;
		}
		&__button {
			margin: 0 auto 156px;
		}
	}

	.subheader {
		margin-bottom: 80px;
		&__item {
			width: 200px;
			height: 200px;
			border: 4px solid $light_accent;
			border-radius: 40px;
			padding: 10px;
		}
		&__text {
			margin-bottom: 40px;
		}
	}

	.thin {
		font-size: 20px;
		line-height: 26px;
		font-weight: 200;
	}
	
	.medium {
		font-size: 26px;
		line-height: 34px;
		font-weight: 400;
	}
	
	.big {
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;
	}
	
	.gray {
		color: $dark_accent;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 42px;
	}	

/*services*/
	.services {
		min-width: 768px;
		&__inner {
			grid-gap: 30px;
			grid-template-columns: max-content;
			padding-bottom: 70px;
		}
		&__title {
			padding-top: 97px;
			margin-bottom: 70px;
		}
		&-bottom {
			background-position: center 108%;
		}
	}

/*slider*/
.slider {
	min-width: 768px;
	&__title {
		padding-top: 97px;
		margin-bottom: 70px;
	}
	&-item img {
		height: 600px;
	}
}

.wrap {
	max-width: 400px;
}


/*advantages*/

	.advantages {
		min-width: 768px;
		&__title {
			padding-top: 98px;
		}
		&__inner {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat (3, 1fr);
			padding-top: 32px;
		}
		&__text {
			font-size: 18px;
		}
	}

/*about*/
	.about {
		min-width: 768px;
		&__title {
			margin-top: 68px;
			margin-bottom: 76px;
		}
		&__item {
			img {
				position: relative;
				max-width: 220px;
				top: 5px;
				left: 5px;
				padding-left: 10px;
				margin-right: 50px;
			}
		}
		&__circle {
			display: none;
		}
		&__text {
			font-size: 16px;
			line-height: 20px;
			width: 60%;
			padding: 0 10px;
		}
		&__inner {
			padding-bottom: 85px;
		}
	}

/*contacts*/

	.contacts {
		min-width: 768px;
		&__inner {
			padding: 0 20px;
		}
		&__icon-box {
			padding-top: 32px;
		}
		&__form {
			max-width: 700px;
			margin-top: 83px;
		}
		&__textarea {
			height: 120px;
		}
		&__button {
			margin-bottom: 80px;
		}
	}
/*footer*/
	.policy {
		margin-top: 20px;
	}
}


/*iPhone SE*/
@media screen and (max-width: 391px) {
	body .container {
		width: 390px;
	}

/*header*/

	.menu__desktop {
		display: none;
	}

	.menu__mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu {
		&__burger {
			width: 40px;
			height: 3px;
			background-color: #CAC25F;
			position: relative;
			&::after {
				content: '';
				width: 30px;
				height: 3px;
				background-color: #CAC25F;
				position: absolute;
				bottom: -10px;
			}
			&::before {
				content: '';
				width: 30px;
				height: 3px;
				background-color: #CAC25F;
				position: absolute;
				top: -10px;
			}
		}
		&__mobile {
			img {
				width: 90px;
			}
		}
	}

	.header {
		&__title {
			font-size: 32px;
			line-height: 40px;
			margin-top: 77px;
		}
		&__button {
			margin-bottom: 76px;
		}
	}

.subheader {
	flex-direction: column;
	gap: 50px;
	align-items: center;
	&__item {
		padding: 15px;
	}
	&__text {
		font-size: 28px;
		margin-bottom: 40px;
		line-height: 36px;
	}
}

.thin {
	font-size: 20px;
	line-height: 26px;
	font-weight: 200;
}

.medium {
	font-size: 24px;
	line-height: 38px;
	font-weight: 400;
}

.big {
	font-size: 30px;
	line-height: 36px;
	font-weight: 600;
}

.gray {
	color: $dark_accent;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 40px;
}

/*services*/

	.services {
		min-width: 390px;
		background-color: $dark_shades;
		&__title {
			padding-top: 80px;
			margin-bottom: 70px;
			color: $light_shades;
		}
		&__item {
			width: 340px;
			height: 286px;
			padding: 20px;
			border-top: 2px dashed $light_accent;
			&:first-child {
				border: none;
			}
		}
		&__header {
			margin: 15px auto;
		}
		&__text {
			font-size: 16px;
		}
	}

/*slider*/
.slider {
	min-width: 390px;
	&__title {
		padding-top: 80px;
		margin-bottom: 60px;
	}
	&-item img {
		height: 400px;
	}
}

.wrap {
	max-width: 300px;
}

.slider .wrap .prev {
	width: 50px;
}

.slider .wrap .next {
	width: 50px;
}


/*advantages*/

	.advantages {
		min-width: 390px;
		&__title {
			padding-top: 48px;
		}
		&__item {
			text-align: center;
			img {
				margin-bottom: 5px;
				margin-top: 50px;
				max-width: 300px;
			}
		}
		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			padding-top: 12px;
		}
	}	

/*about*/
	.about {
		min-width: 390px;
		&__inner {
			flex-direction: column;
			justify-content: center;
			padding-bottom: 80px;
			gap: 40px;
		}
		&__item {
			position: relative;
			img {
				max-width: 300px;
				margin-right: 0;
				margin: 0 auto;
			}
		}
		&__circle {
			display: block;
			position: absolute;
			top: 0;
			left: 10px;
			z-index: -1;
			width: 310px;
			height: 310px;
			border-radius: 50%;
			background-color: $light_accent;
		}
		&__text {
			text-align: center;
			width: 90%;
			padding: 0 20px;
		}
	}

/*contacts*/
	.contacts {
		min-width: 390px;
		&__form {
			max-width: 300px;
			margin-top: 70px;
		}
	}

/*contacts*/
	.warning {
		margin: 20px;
		font-size: 14px;
	}
	.footer__author {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.footer__author-text {
		margin-top: 10px;
	}
}